:root {
    --color-primary: #ab79d6;
    --color-bg: #27272c;
    --color-on-bg: #e5e5ec;
    --color-green: #62cb5c;
    --color-green-a: #62cb5cdc;
    --color-blue: #00bbcb;
}
html {
  color: var(--color-on-bg);
}
html h2 {
  color: var(--color-primary);
}
a {
  text-decoration: none;
}
h1, h2 {
  user-select: none;
}
.df {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.df-c-f {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.df-c-j {
  display: flex;
  flex-direction: column;
}
.df-r {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.df-r-600-c {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: scroll;
  z-index: 0;
  animation: canvas_animation 2s ease-in-out ;
}
.app {
  position: relative;
  z-index: 99999;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  box-sizing: border-box;
}
.app_list  {
  margin: 1rem 0 0 1rem;
  position: fixed;
  z-index: 9999;
}
.app_list summary {
  opacity: 0.7;
  border-radius: 8px;
  border: 1px solid white;
  font-weight: bold;
  padding: 0.35rem;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  background-color: var(--color-bg);
  font-weight: 600;
}
.app_list summary:hover {
  opacity: 1;
}
.app_list_content {
  margin: 0;
  padding: 0 15px 15px 15px;
  background-color: var(--color-bg);
  border-radius: 8px;
}
.app_list_content li {
  padding: 0.35rem 0;
  list-style: none;
}
.app_list_content li  a{
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-on-bg);
  opacity: 0.7;
}
.app_list_content li a:hover {
  opacity: 1;
}
.app::-webkit-scrollbar {
  width: 0;
}
.app_items {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden; 
}
.app_items::-webkit-scrollbar {
  width: 0;
}
.app_bg {
  height: 100vh;
  position: relative;
  background-color: transparent;
}
.app_txt {
  color: white;
  z-index: 1;
  font-family: monospace;
  width: 100%;
  height: 100%;
}
.app_txt h1 {
  margin: 1rem;
  font-size: 5rem;
}
.app_bt {
  width: 15rem;
  animation: bt_animation 4.5s ease-in-out;
}
h1.app_text--animation {
  animation: h1_animation 1.5s ease-out ;
  position: relative;
}
img {
  transition-duration: 0.5s;
  z-index: 1;
}
h2.app_text--animation {
  animation: h2_animation 2.5s ease-in ;
}
.app_txt h2 {
  color: white;
  margin: 0.3rem 0;
  font-size: 1rem;
}
.app_item {
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--color-bg);
  opacity: 0.98;
  z-index: 10;
  position: relative;
  padding: 0 max(3vw, min( 11vw,calc((100vw - 600px)*9999)));
}
.app_item h2 {
  padding: 7rem 0 2rem 0;
  font-size: 2rem;
  font-family: monospace;
}
.app_item > div {
  max-width: 1356px;
}
.app_my_skill {
  display: flex;
  justify-content: center;
}
h2.app_my_skill_txt {
  transition-duration: 0.7s;
}
.app_img {
  flex: 30;
  margin-right: 1.3rem;
}
.app_img img {
  border-radius: 50%;
  width: 10rem;
}
.app_infor {
  flex: 70;
}
.app_infor p {
  font-size: 1.1rem;
  line-height: 1.75rem;
  font-family: monospace;
}
.skills {
  width: fit-content;
  flex-wrap: wrap;
}
.skill {
  margin: 0 1.2rem;
}
.skill p {
  font-size: 1rem;
  font-family: monospace;
}
.skill > div {
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
}
.knowledge ul {
  padding: 0;
  margin: 0;
}
.knowledge ul li {
  margin: 0.5rem 0;
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.projects {
  width: 100%;
} 
.project {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin: 5rem 0;
  }
  .project:last-child{
    margin-bottom: 0;
  }
.reverse {
  flex-direction: row-reverse !important;
}

.project_txt {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.project.reverse .project_txt {
  padding-right: 3rem;
  padding-left: 0;
}
.project .project_txt {
  padding-left: 3rem;
}
.project_name {
  font-size: 1.3rem;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.project_description {
  font-size: 1.1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.project_language {
display: flex;
}
.project_language > div {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0 0.6rem 0 0;
  background-image: var(--language);
  background-repeat: no-repeat;
  background-size: contain;
}
.project_img {
  width: 60%;
  opacity: 0.7;
}
.project_img:hover {
  opacity: 1;
  transition-duration: 0.5s;
}
.project_img img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  transition-duration: 1s;
}
.app_redirect {
  display: flex;
  align-items: center;
  flex-direction: row-;
}
.btn_redirect {
  box-sizing: border-box;
  height: 2.1rem;
  width: 6.7rem;
  font-weight: 600;
  margin: 1rem  0;
  font-size: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}

.app_live_demo {
  color: var(--color-blue);
  background-color: transparent;
  border: 2px solid var(--color-blue);
  margin-right: 1rem;
}
.app_live_demo:hover {
  color: var(--color-bg);
  background-color: var(--color-blue);
}

.app_live_demo:hover:after {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  bottom: -140%;
  color: #27272c;
  color: var(--color-bg);
  content: " Redirect to live demo";
  left: 20px;
  padding: 4px;
  position: absolute;
  width: 136%;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_source {
  color: white;
  background-color: var(--color-bg);
  border: 2px solid white;
}
.app_source:hover {
  color: var(--color-bg);
  background-color: white;
}
.app_source:hover:after {
  font-size: 0.9rem;
  border: 1px solid #fff;
  border-radius: 8px;
  bottom: -140%;
  content: " Redirect to gitHub";
  left: 20px;
  padding: 4px;
  position: absolute;
  width: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_contact {
  margin-bottom: 10rem;
  width: 100%;
}
.app_nav_contact {
  margin-bottom: 30px;
  display: flex;
}
.contact_img {
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
  border: 3px solid white;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  transition-duration: 0.3s;
}
.contact_a:hover .contact_img{
  transform: translateY(-1rem);
  border: 1px solid white;
  box-sizing: border-box;
}
.app_contact form {
  display: flex;
  flex-direction: column;
  width: 35vw;
}
.app_contact form > * {
    margin-top: 12px;
  }
  .app_contact form div.div_control {
    display: flex;
    justify-content: flex-end;
  }
  .app_contact input {
  font-size: 1rem;
  width: 100%;
  background-color: transparent;
  color: white;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 8px;
}
.app_contact .textarea_message {
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  height: 15rem;
  width: 100%;
  resize: none;
  background-color: transparent;
  color: white;
  padding: 1rem 8px;
  border-radius: 8px;
  box-sizing: border-box; }
  .app_contact .textarea_message::-webkit-scrollbar {
    width: 2px;
  }
  .app_contact .btn_send {
    font-size: 1.15rem;
    font-weight: 600;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    color: var(--color-blue);
    background-color: var(--color-bg);
    border: 3px solid var(--color-blue);
  }
  .app_contact .btn_send:hover {
    color: white;
    background-color: var(--color-blue);
  }
.gird_container {
  display: grid;
  overflow: auto;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  scroll-snap-type: y mandatory;
}
.gird_item {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}
/* Skeleton */
.skeleton {
  width: 100%;
}
.skeleton .project_img, .skeleton .project_txt {
  height: 300px;
}
.skeleton .project_img{
  border-radius: 8px;
  position: relative;
  opacity: 1;
  overflow: hidden;
}
.img_inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #999999;
}

.skeleton .project_img:hover {
  opacity: 1;
} 
.skeleton .project_txt{
}
.skeleton .project_name {
  border-radius: 8px;
  height: 11.5rem;
  margin: 0 0 0.5rem 0;
  width: 100%;
  overflow: hidden;
}
.skeleton .project_p {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  margin: 0.2rem 0;
  overflow: hidden;
}
.skeleton .app_infor {
  overflow: hidden;
  width: 100%;
}
.skeleton .app_img .img_inner {
  overflow: hidden;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.img_inner::after {
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
animation: loading 3s infinite;
background: linear-gradient(to right, #999999, #ffffff 50%, #999999);
}
.bg__music {
  top: 1rem;
  right: 1rem;
  position: fixed;
  z-index: 9999;
}
audio {
  height: 40px;
  width: 275px;
}
.bg__music__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  transform: translateX(275px);
  transition-duration: 1.5s;
  border-radius: 50%;
}
.bg__music__icon {
  background-color: transparent;
  border: none;
  transition-duration: 1.25s;
  width: 40px;
  height: 40px;
  background-color: #f1f3f4;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.bg__music__icon:hover {
  opacity: 1;
}
.bg__music__icon:hover::after {
display: flex;
}
.bg__music__icon::after {
  content: 'Play music';
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100px;
  height: 38px;
  left: -68px;
  bottom: -55px;
  background-color: white;
  color: var(--color-bg);
  border-radius: 8px;
  position: absolute;
  z-index: 10;
}
.bg__music__wrapper.show {
  transform: translateX(0);
}
.show .bg__music__icon {
  opacity: 1;
  border-top-left-radius: 50%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 50%
}
.bg__music__icon__after {
  content: '';
  position: absolute;
  width: 0px;
  height: 40px;
  bottom: 0;
  top: 0;
}
.show .bg__music__icon__after {
  transition-duration: 0.5s;
  width: 50px;
  height: 40px;
  left: 40px;
  bottom: 0;
  top: 0;
  background-color: #f1f3f4;
}
.show .bg__music__icon::before {
  content: '';
  transition-duration: 1s;
  width: 40px;
  height: 40px;
  left: 60px;
  bottom: 0;
  top: 0;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}
.show .bg__music__audio {
  visibility: visible;
  transform: translateX(0px);
  height: 40px;
  transition-duration: 1s;
}
.bg__music__icon svg {
  width: 30px;
  color: black;
}
.bg__music__audio {
  transition-duration: 0.5s;
  transform: translateX(150px);
  visibility: hidden;
  position: relative;
  position: relative;
  z-index: 11;
}
.bg__music__audio__action {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  background-color: transparent;
}
.bg__music__icon.is__play  svg {
  animation: spin 5s linear infinite;
}
@keyframes bt_animation {
  0% {
    transform: scaleX(0);
    border-bottom: 2px solid white;
  }
  40% {
    transform: scaleX(1);
    border-bottom: 2px solid white;
  }
  70% {
    transform: scaleX(1);
    border-bottom: 2px solid white;
  }
  80%{
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes loading {
  0%{
    left: -10%;
  }
  50% {
    left: 80%
  }
  100%{
    left: -10%;
  }
}
@keyframes h1_animation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  40% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes h2_animation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes canvas_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 14px 
  }
  .df-r-600-c {
    flex-direction: column;
  }
  .app_contact form {
    width: 90vw;
  }
  .app_img {
    margin-right: 0;
  }
  .project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 7rem 0;
  }
  .reverse {
    flex-direction: column !important;
}
.project_img {
  width: 100%;
}
.project.reverse .project_txt {
  width: 100%;
  padding: 1rem 0;
}
.project .project_txt {
  width: 100%;
  padding: 1rem 0;
}
.skeleton .project_img, .skeleton .project_txt {
  height: 200px;
}
}
@media (min-width: 600px) and (max-width: 900px){
  .df-r-600-c {
    flex-direction: column;
  }
  .app_img {
    margin-right: 0;
  }
  .project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0;
  }
  .reverse {
    flex-direction: column !important;
}
.project_img {
  width: 100%;
}
.project.reverse .project_txt {
  width: 100%;
  padding: 1rem 0;
}
.project .project_txt {
  width: 100%;
  padding: 1rem 0;
}
  .app_contact form {
    width: 65vw;
  }
}
@media screen and  (min-width: 1200px) {
  html {
    font-size: 18px;
  }
  .skeleton .project_img, .skeleton .project_txt {
    height: 450px;
  }
}

/* On touch css */

.touch__wrapper {
  display: block;
  position: fixed;
  z-index: 99999999;
  height: 0px;
  width: 0px;
  pointer-events: none;
}
.on__touch__items {
  margin: 3rem;
  width: 20px;
  height: 25px;
  position: relative;
  transform: rotate(45deg);
  border: 3px solid yellow;
  background-color: transparent;
  opacity: 0;
  animation: touch 1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.on__touch__items > span {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: yellow;
  animation: touch-span 0.75s linear;
  opacity: 0;
}
span.item__1 {
  left: -25px;
  top: 50%;
  bottom: auto;
}
span.item__2 {
  top: -25px;
  left: 50%;
  right: auto;
}
span.item__3 {
  right: -25px;
  top: 50%;
  bottom: auto;
}
span.item__4 {
  bottom: -25px;
  left: auto;
  right: auto;
}
span.item__5 {
  opacity: 1;
}
.on__touch__item {
  opacity: 0;
  position: absolute;
  border: 2px solid yellow;
  background-color: transparent;
  animation: var(--ani) 1s ease-out;
}
@keyframes touch {
  0%{
    width: 5px;
    height: 5px;
    opacity: 0.3;
  }
  30%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    width: 40px;
    height: 40px;
  }
}
@keyframes touch-span {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes touch-top {
  0%{
    top: var(--start);
    left: var(--local);
    opacity: 0.3;
    transform: rotate(0deg);
    width: 5px;
    height: 5px;
  }
  80%{
    opacity: 1;
  }
  100%{
    transform: rotate(var(--deg));
    top: var(--end);
    left:  var(--local);
    opacity: 0;
    width: calc(5px + var(--local));
    height: calc(5px + var(--local));
  }
}
@keyframes touch-left {
  0%{
    top:  var(--local);
    left: var(--start);
    opacity: 0.3;
    transform: rotate(0deg);
    width: 6px;
    height: 6px;
  }
  80%{
    opacity: 1;
  }
  100%{
    transform: rotate(var(--deg));
    top:  var(--local);
    left: var(--end);
    opacity: 0;

    width: calc(6px + var(--local));
    height: calc(6px + var(--local));
  }
}
@keyframes touch-right {
  0%{
    top:  var(--local);
    right: var(--start);
    opacity: 0.3;
    transform: rotate(0deg);
    width: 6px;
    height: 6px;
  }
  80%{
    opacity: 1;
  }
  100%{
    transform: rotate(var(--deg));
    top:  var(--local);
    right: var(--end);
    opacity: 0;

    width: calc(6px + var(--local));
    height: calc(6px + var(--local));
  }
}
@keyframes touch-bottom {
  0%{
    bottom: var(--start);
    left:  var(--local);
    opacity: 0.3;
    transform: rotate(0deg);
    width: 5px;
    height: 5px;
  }
  80%{
    opacity: 1;
  }
  100%{
    transform: rotate(var(--deg));
    bottom:  var(--end);
    left:  var(--local);
    opacity: 0;

    width: calc(5px + var(--local));
    height: calc(5px + var(--local));
  }
}
