html {
  color: white;
}
a {
  text-decoration: none;
}
.df {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.df-c-j {
  display: flex;
  flex-direction: column;
}
.df-r {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.df-r-600-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
#root {
  width: 100vw;
  background: black;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: scroll;
  z-index: 0;
}
.app {
  position: relative;
  z-index: 99999;
  overflow: hidden;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  box-sizing: border-box;
}
.app::-webkit-scrollbar {
  width: 0;
}
.app_items {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden; 
}
.app_items::-webkit-scrollbar {
  width: 0;
}
.app_bg {
  height: 100vh;
  position: relative;
  background-color: transparent;
}
.app_txt {
  color: white;
  z-index: 1;
  font-family: monospace;
  width: 100%;
  height: 100%;
}
.app_txt h1 {
  margin: 1rem;
  font-size: 7rem;
}
.app_bt {
  width: 15rem;
  animation: bt_animation 4.5s ease-in-out;
}
h1.app_text--animation {
  animation: h1_animation 1.5s ease-out ;
}
h2.app_text--animation {
  animation: h2_animation 2s ease-in ;
}
.app_txt h2 {
  margin: 0.3rem 0;
  font-size: 1.5rem;
}
.app_item {
  box-sizing: border-box;
  overflow: hidden;
  min-height: 50vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  position: relative;
  padding: 5vh max(3vw, min( 11vw,calc((100vw - 600px)*9999)));
}
.app_item h2 {
  margin: 8vh 0;
  font-size: 2rem;
  font-family: monospace;
}
.app_img {
  flex: 30;
  margin-right: 1.3rem;
}
.app_img img {
  border-radius: 50%;
  width: 10rem;
}
.app_infor {
  flex: 70;
}
.app_infor p {
  color: white;
  font-size: 1.325rem;
  line-height: 1.75rem;
  font-family: monospace;
}
.skills {
  width: fit-content;
  flex-wrap: wrap;
}
.skill {
  margin: 0 1.2rem;
}
.skill p {
  font-size: 1.2rem;
  font-family: monospace;
}
.project {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin: 13rem 0;
  }
.project_reverse {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.project_txt {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 3rem;
}
.project_name {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.project_description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.project_language img {
  margin: 0 0.6rem 0 0;
  width: 1.7rem;
  height: 1.7rem;
 
}
.project_img {
  width: 60%;
  overflow: hidden;
opacity: 0.5;

}
.project_img:hover {
  opacity: 1;
  transition-duration: 1.5s;
 
}
.project_img img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}
.app_redirect {
  display: flex;
  align-items: center;
  flex-direction: row-;
}
.btn_redirect {
  height: 2.5rem;
  width: 8rem;
  font-weight: 500;
  margin: 1rem 1rem 1rem 0;
  font-size: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.7;
}
.btn_redirect:hover {
  opacity: 1;
  transition-duration: 0.5s;
}
.btn_redirect img {
  height: 25px;
  width: 25px;
}
.app_live_demo {
  color: white;
  background-color: #04AA6D;
 
}
.app_source {
  color: black;
  background-color: beige;
}
.gird_container {
  display: grid;
  overflow: auto;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  scroll-snap-type: y mandatory;
}
.gird_item {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}
@keyframes bt_animation {
  0% {
    transform: scaleX(0);
    border-bottom: 2px solid white;
  }
  40% {
    transform: scaleX(1);
    border-bottom: 2px solid white;
  }
  70% {
    transform: scaleX(1);
    border-bottom: 2px solid white;
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes h1_animation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  40% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes h2_animation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 14px 
  }
  .df-r-600-c {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px){
  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project_img , .project_txt{
    width: 100%;
  }
}
@media screen and  (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}